.nasa-picture {
    display: flex;
    padding: 40px;
    margin: 40px;
    max-height: 100%;
}

.nasa-picture iframe {
    border-radius: 5%;
    margin-right: 50px;
    object-fit: contain;
    height: 60vh;
    width: 300%;
    max-height: 80vh;
}

.nasa-picture img {
    border-radius: 10%;
    margin-right: 50px;
    object-fit: contain;
    max-height: 80vh;
}

.nasa-picture h1 {
    color: white;
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 30px;
}

.nasa-picture p {
    color: white;
    margin-bottom: 10px;
}

.nasa-picture .explanation {
    color: white;
    font-size: large;
}

@media (max-width: 1280px) {
    .nasa-picture {
        display: block;
    }
}